.thumbnail {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 10, 0.5 , 0 , 0 );
}

.button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-border: none;
    -fx-color: white;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
    -fx-cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #3e8e41;
}

/* Customize the scrollbar */
.scroll-bar:vertical {
    -fx-background-color: #f0f0f0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #555;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #888;
}
